<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis ipsum, consequat non nisl quis,
            dignissim posuere
            felis. Morbi finibus luctus ante sit amet consectetur. Pellentesque viverra quam enim, vitae iaculis massa
            bibendum vel.
            Nam cursus a leo et imperdiet. In in pellentesque ipsum, ut facilisis elit. Sed vehicula malesuada justo,
            quis fringilla
            ante consectetur nec. Praesent non euismod magna. Nam pharetra gravida nisl, luctus sodales massa suscipit
            quis. Aliquam
            tincidunt efficitur lorem, a efficitur eros scelerisque nec.
        </p>
        <p>
            Quisque eget erat et metus gravida rutrum. Nullam tempor arcu lectus, ac pulvinar lorem semper ultrices.
            Curabitur
            facilisis, orci eget luctus placerat, risus justo aliquet felis, nec placerat sem sem nec augue. Nullam orci
            leo, cursus
            sit amet volutpat at, efficitur vel nisi. Nunc ullamcorper pulvinar urna vitae scelerisque. Sed dapibus
            tempor neque, ac
            congue lacus consectetur at. Sed sodales nulla vitae est mollis eleifend.

        </p>
    </div>

    {{>footer}}
</body>

</html>