<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get real time weather forecast!</p>

        <form>
            <input type="text" id='search-field' placeholder="Enter Location">
            <input type="submit" id='submit-btn' class="submit-button" value="Submit" >
        </form>

        <button class="submit-button" id="myLocation">Current location weather</button>

        <p id='messageOne'></p>
        <p id='messageTwo'></p>
    </div>

    {{>footer}}

    
    <script src="/js/app.js"></script>
</body>

</html>